In [16]:
import sys
import subprocess

arquivos = ['main_comercial.py','main_indra.py','main_safira.py']
processos = []
output = []

for arquivo in arquivos:
    processo = subprocess.Popen(["/home/administrador/projetos/processos_sql_server/.venv/bin/python3.11", f"/home/administrador/projetos/processos_sql_server/src/{arquivo}"], stdout=subprocess.PIPE,stderr=subprocess.PIPE)
    processos.append(processo)

exit_codes = [processo.communicate() for processo in processos]

In [17]:
output=str(exit_codes[0][0].decode("utf-8"))
#print(output.decode('ascii'))

In [18]:
print(output)

2024-10-14 11:54:54.783948
buscar credencial na aws
Creating engine - sqlalchemy...
Driver SQL: 'ODBC Driver 18 for SQL Server'
conectado as 2024-10-14 11:54:58.041875
2024-10-10T23:59:59.000Z
2024-10-14 11:54:58.296785

In [19]:
output=str(exit_codes[1][1].decode("utf-8"))

In [20]:
print(output)

In [6]:
output=str(exit_codes[2][0].decode("utf-8"))

IndexError: list index out of range

In [7]:
print(output)

2024-10-14 11:50:39.687127
buscar credencial na aws
Creating engine - sqlalchemy...
Driver SQL: 'ODBC Driver 18 for SQL Server'
conectado as 2024-10-14 11:50:42.636537

In [21]:

import subprocess

process = subprocess.Popen(["/home/administrador/projetos/processos_sql_server/.venv/bin/python3.11", f"/home/administrador/projetos/processos_sql_server/src/main_process_history.py"], stdout=subprocess.PIPE,stderr=subprocess.PIPE)
(output, err) = process.communicate()

In [22]:
print(output.decode("utf-8"))

2024-10-14 11:55:18.338381
buscar credencial na aws
Creating engine - sqlalchemy...
Driver SQL: 'ODBC Driver 18 for SQL Server'
conectado as 2024-10-14 11:55:19.852599
2024-10-10T23:59:59.000Z
2024-10-14 11:55:20.026918

In [23]:
print(err.decode("utf-8"))
#"C:\\Users\\abarbosa\\Documents\\projetos\\processos_sql_server\\src\\main_teste1.py"

In [25]:
import sys
import os

print(os.getcwd())
path_src = os.getcwd().replace(os.getcwd().split('/')[-1],'')
print(path_src)
path_x_process = os.getcwd().replace(os.getcwd().split('/')[-1],'x_process')
print(path_x_process)


sys.path.append(f'{path_src}')
sys.path.append(f'{path_x_process}')

/home/administrador/projetos/processos_sql_server/src/notebook
/home/administrador/projetos/processos_sql_server/src/
/home/administrador/projetos/processos_sql_server/src/x_process

In [28]:
from x_process.process_sql import ExecProcessSqlServerNew

exec = ExecProcessSqlServerNew()
df = exec.valida_execucao_manual_via_notebook('modelo','select top 10 * from [modelo].[BaseHistorica].[LogBoletasProcessadas] order by ProcessInsertTimeFim desc')

buscar credencial na aws
Creating engine - sqlalchemy...
Driver SQL: 'ODBC Driver 18 for SQL Server'
conectado as 2024-10-14 12:29:50.311784

In [29]:
df

,LogID,Thunders,ProcessoExecutado,Etapa,DataHistorico,QtdeRows,ProcessInsertTimeInic,ProcessInsertTimeFim,StatusProcesso,MsgError
0,90,all,[modelo].[BaseHistorica].[BoletasProcessadas],deleta_rows,2024-10-07T23:59:59.000Z,2764300,2024-10-14 12:25:55.4517796,2024-10-14 12:25:56.9956466,Sucesso,None
1,89,all,[modelo].[BaseHistorica].[BoletasProcessadas],deleta_rows,2024-10-07T23:59:59.000Z,2764300,2024-10-14 12:21:46.4468400,2024-10-14 12:22:16.7706581,Sucesso,None
2,88,All,book.HistoricoPosicaoContraparte_log,insert,2024-10-11T23:59:59.000Z,55202,2024-10-14 07:42:12.9656119,2024-10-14 07:43:05.1721427,Sucesso,None
3,87,All,book.HistoricoPosicao_log,insert,2024-10-11T23:59:59.000Z,20303,2024-10-14 07:34:25.2128921,2024-10-14 07:36:02.1256583,Sucesso,None
4,86,Comercial,BookComercial.dbo.s_all_operations(@DataHistor...,extrair_dados_comercial,2024-10-11T23:59:59.000Z,60761,2024-10-14 05:04:21.7479728,2024-10-14 05:37:26.7779930,Sucesso,None
5,85,Safira,Book.dbo.s_all_operations(@DataHistorico),extrair_dados_safira,2024-10-11T23:59:59.000Z,92290,2024-10-14 05:04:21.7479728,2024-10-14 05:20:24.3715731,Sucesso,None
6,84,Indra,BookIndra.dbo.s_all_operations(@DataHistorico),extrair_dados_indra,2024-10-11T23:59:59.000Z,45875,2024-10-14 05:04:21.7323493,2024-10-14 05:13:23.4384060,Sucesso,None
7,82,Comercial,BookComercial.dbo.s_all_operations(@DataHistor...,extrair_dados_comercial,2024-10-11T23:59:59.000Z,60761,2024-10-14 04:19:53.3717418,2024-10-14 04:55:27.7188852,Sucesso,None
8,81,Safira,Book.dbo.s_all_operations(@DataHistorico),extrair_dados_safira,2024-10-11T23:59:59.000Z,92290,2024-10-14 04:19:53.0778452,2024-10-14 04:38:48.7913992,Sucesso,None
9,83,Indra,BookIndra.dbo.s_all_operations(@DataHistorico),extrair_dados_indra,2024-10-11T23:59:59.000Z,45875,2024-10-14 04:19:53.4961912,2024-10-14 04:28:16.5700549,Sucesso,None

In [ ]:
# select * from [modelo].[BaseHistorica].[LogBoletasProcessadas] order by ProcessInsertTimeFim desc

# select * from [modelo].[BaseHistorica].BoletasProcessadas where ProcessInsertTimeInic IS NOT NULL